.pianoroll {
    padding: 20px 20px 0px 20px;
}

.pianoroll .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pianoroll .button-container button {
    flex-grow: 1;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 var(--secondary-color);
    margin: 10px;
    padding: 10px 3px 3px 3px;
    font-size: 40px;
    background-color: var(--primary-color);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.pianoroll .button-container button.recording {
    background-color: var(--warn-color);
    box-shadow: 0 4px 8px 0 var(--warn-color);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.pianoroll .button-container button:active:enabled {
    box-shadow: 0px 0px 0px;
    transform: translateY(4px);
}

.pianoroll input {
    background-color: var(--medium-bg-color);
    color: white;
    outline: none;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
    margin: 12px;
    border-radius: 8px;
    font-size: 50px;
    max-width: 120px;
    text-align: center;
}

.pianoroll input::-webkit-outer-spin-button,
.pianoroll input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.pianoroll input[type="number"] {
    -moz-appearance: textfield;
}

.pianoroll .table-container {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 60vh;
    min-height: 60vh;
    max-width: 95vw;
    margin: 0 auto;
    border-radius: 8px;
    border: 3px solid var(--primary-color);
    padding-left: 14px;
}

.pianoroll .table-container canvas {
    padding: 0px;
    transition: width 0.1s linear;
}

.pianoroll .table-container::-webkit-scrollbar-thumb {
    background-color: var(--medium-bg-color);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.pianoroll .table-container::-webkit-scrollbar {
    width: 16px;
}
