.tabs {
    margin-top: 16px;
    -webkit-tap-highlight-color: transparent;
    min-width: 0;
    flex: 50;
}

.tab-list {
    margin: 0px 0px 0px 32px;
    padding: 0;
    display: flex;
}

.tab-container {
    display: flex;
    flex-direction: row;
    border: 3px solid transparent;
    border-radius: 20px 2px 0 0;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 6px 6px 12px;
    cursor: pointer;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.tab-container-selected {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.close-tab-button {
    background: none;
    padding: 0px;
    outline: none;
    border: none;
    margin-left: 16px;
    color: inherit;
}

.tab-selected {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.tab:focus {
    outline: none;
}

.tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
}

.tab-panel {
    display: none;
}

.tab-panel-selected {
    display: block;
}

.add-tab-button {
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 16px 4px 0 0;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 8px;
    border-color: var(--primary-color);
}

.add-tab-button.inactive {
    color: var(--medium-bg-color);
    border-color: var(--medium-bg-color);
}
