.top-card {
    flex: 1;
    text-align: left;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 6px;
}

.top-card-inner-row {
    display: flex;
    flex-direction: row;
}

.top-card-text {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.top-card-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top-card-buttons button {
    flex: 1;
    background: none;
    color: var(--primary-color);
    border: none;
    font-size: 16px;
    padding: 0px;
    cursor: pointer;
}

.top-card .more-button {
    padding: 0px;
    justify-self: right;
    border: none;
    background: none;
    color: var(--primary-color);
    text-decoration: underline;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.top-card h4 {
    margin: 0px;
    cursor: pointer;
}

.top-card p {
    margin: 0px;
}

.top-card-spinner-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
}

.top-card-spinner-container h4 {
    float: left;
    display: inline;
}

.top-spinner {
    margin-inline-end: 12px;
    float: left;
    display: inline;
}
