.drawer-button {
    position: absolute;
    right: 0;
    top: 50%;
    padding: 16px;
    background-color: var(--bg-color);
    border-radius: 6px 0px 0px 6px;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-right: 0px;
}

.drawer-container {
    height: 100%;
    background: var(--bg-color);
    overflow-x: scroll;
    text-align: left;
}

.drawer-container h1 {
    margin-top: 0px;
    padding: 24px 0px 0px 16px;
    font-size: 28px;
    margin-bottom: 4px;
}

.empty-results {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.result-card {
    border-bottom: 1px solid var(--primary-color);
    padding: 2px 24px;
}

.result-card .card-inner {
    display: flex;
    flex-direction: row;
}

.result-card .card-inner .card-text {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.result-card .card-inner .card-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 14px 0px;
}

.result-card .card-inner .card-buttons button {
    flex: 1;
    background: none;
    color: var(--primary-color);
    border: none;
    font-size: 16px;
}

.result-card.card-inner {
    display: flex;
}

.result-card h4 {
    margin-bottom: 0px;
    cursor: pointer;
}

.result-card p {
    margin-top: 0px;
}

.loader {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
