.strategy-selector {
    background-color: var(--medium-bg-color);
    outline: none;
    border: none;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 30%;
    text-align: center;
}
