:root {
    --bg-color: #0b0c10;
    --medium-bg-color: #1f2833;
    --light-bg-color: #c5c6c7;
    --secondary-color: #45a29e;
    --primary-color: #66fcf1;
    --warn-color: #ed254e;
    --medium-bg-color-rgb: 31, 40, 51;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.App {
    background-color: var(--bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    color: white;
    height: 100vh;
}
