@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #f2e8cfff;
        --light-primary-color: #477998ff;
        --medium-primary-color: #9c7a97ff;
        --dark-primary-color: #1e152aff;
        --warn-color: #b24c63ff;
        --white-color: #e5e5db;
        --black-color: #2e3436;
    }

    html {
        padding: 2rem;
        background-color: var(--bg-color);
        font-family: "Courier", monospace;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

.shepherd-modal-is-visible.shepherd-modal-overlay-container {
    display: none;
}

.tour-highlight {
    outline: solid 4px var(--medium-primary-color);
}

.shepherd-cancel-icon {
    color: var(--black-color);
    font-size: 24px;
    position: absolute;
    top: 4px;
    right: 16px;
}
