@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    padding: 2rem;
    background-color: #f2e8cfff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
